body {
    font-family: Arial, sans-serif;
    background-image: url('BAC.jpg');
    background-size: cover;
    text-align: center;
}

form {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    font-size: 18px;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

textarea {
    height: 100px;
    resize: vertical;
}

button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button a {
    color: white;
    
}

button:hover {
    background-color: #45a049;
}
